In [15]:
import pandas as pd

df = pd.read_csv("./data/housing.csv")
df

      LotArea  MSSubClass
0        8450          60
1        9600          20
2       11250          60
3        9550          70
4       14260          60
...       ...         ...
1455     7917          60
1456    13175          20
1457     9042          70
1458     9717          20
1459     9937          20

[1460 rows x 2 columns]

In [16]:
import numpy as np

df = df.select_dtypes(include=np.number)
df

      LotArea  MSSubClass
0        8450          60
1        9600          20
2       11250          60
3        9550          70
4       14260          60
...       ...         ...
1455     7917          60
1456    13175          20
1457     9042          70
1458     9717          20
1459     9937          20

[1460 rows x 2 columns]

In [17]:
# Absolute Maximum Scaling
max_abs = np.max(np.abs(df), axis=0)
scaled_df = df / max_abs
scaled_df

       LotArea  MSSubClass
0     0.039258    0.315789
1     0.044600    0.105263
2     0.052266    0.315789
3     0.044368    0.368421
4     0.066250    0.315789
...        ...         ...
1455  0.036781    0.315789
1456  0.061209    0.105263
1457  0.042008    0.368421
1458  0.045144    0.105263
1459  0.046166    0.105263

[1460 rows x 2 columns]

In [18]:
# Min-Max Scaling

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df

       LotArea  MSSubClass
0     0.033420    0.235294
1     0.038795    0.000000
2     0.046507    0.235294
3     0.038561    0.294118
4     0.060576    0.235294
...        ...         ...
1455  0.030929    0.235294
1456  0.055505    0.000000
1457  0.036187    0.294118
1458  0.039342    0.000000
1459  0.040370    0.000000

[1460 rows x 2 columns]

In [19]:
# Vector Normalization

from sklearn.preprocessing import Normalizer

scaler = Normalizer()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df

       LotArea  MSSubClass
0     0.999975    0.007100
1     0.999998    0.002083
2     0.999986    0.005333
3     0.999973    0.007330
4     0.999991    0.004208
...        ...         ...
1455  0.999971    0.007578
1456  0.999999    0.001518
1457  0.999970    0.007741
1458  0.999998    0.002058
1459  0.999998    0.002013

[1460 rows x 2 columns]

In [20]:
# Standardization

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df

       LotArea  MSSubClass
0    -0.207142    0.073375
1    -0.091886   -0.872563
2     0.073480    0.073375
3    -0.096897    0.309859
4     0.375148    0.073375
...        ...         ...
1455 -0.260560    0.073375
1456  0.266407   -0.872563
1457 -0.147810    0.309859
1458 -0.080160   -0.872563
1459 -0.058112   -0.872563

[1460 rows x 2 columns]

In [21]:
# Robust Scaling

from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df

       LotArea  MSSubClass
0    -0.254076         0.2
1     0.030015        -0.6
2     0.437624         0.2
3     0.017663         0.4
4     1.181201         0.2
...        ...         ...
1455 -0.385746         0.2
1456  0.913167        -0.6
1457 -0.107831         0.4
1458  0.058918        -0.6
1459  0.113266        -0.6

[1460 rows x 2 columns]